{#
/**
 * @file
 *
 * Product template example.
 * Change layout moving singular field
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<div class="position-relative">
  <!-- Hero -->
  <div class="gradient-y-overlay-lg-white bg-img-start " style="background-image: url(/themes/custom/imparables_bb5/assets/img/1920x800/img6.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-8">
          <small class="badge bg-success rounded-pill">Nuevo</small>
          <h1>{{ product.title }}</h1>

          <p>{{ product.field_course_short_description }}</p>

          <div class="d-flex align-items-center flex-wrap">
            <!-- Media -->
            <div class="d-flex align-items-center me-4">
              <div class="flex-shrink-0 avatar-group avatar-group-xs">
                    <span class="avatar avatar-xs avatar-circle">
                      <img class="avatar-img" src="/themes/custom/imparables_bb5/assets/img/160x160/img10.jpg" alt="Image Description">
                    </span>
              </div>
              <div class="flex-grow-1">
                <span class="ps-2">Created by <a class="link" href="../demo-course/author-profile.html">Christina Kray</a></span>
              </div>
            </div>
            <!-- End Media -->

            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-dark me-1">4.91</span>
                <span>(1.5k+ reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Hero -->

  <!-- Sidebar -->
  <div class="container position-md-absolute top-0 start-0 end-0">
    <div class="row justify-content-end">
      <div class="col-md-5 col-lg-4 position-relative zi-2 mb-7 mb-md-0">
        <!-- Sticky Block -->
        <div id="stickyBlockStartPoint">
          <div class="js-sticky-block"
               data-hs-sticky-block-options='{
                     "parentSelector": "#stickyBlockStartPoint",
                     "breakpoint": "md",
                     "startPoint": "#stickyBlockStartPoint",
                     "endPoint": "#stickyBlockEndPoint",
                     "stickyOffsetTop": 12,
                     "stickyOffsetBottom": 12
                   }'>
            <!-- Card -->
            <div class="card">
              <div class="p-1">
                <!-- Fancybox -->
                <div class="bg-img-start text-center rounded-2 py-10 px-5" style="background-image: url(/themes/custom/imparables_bb5/assets/svg/components/card-4.svg);">
                  <a class="video-player video-player-btn" href="https://www.youtube.com/watch?v=ueNT-w7Oluw" role="button" data-fslightbox="youtube-video">
                        <span class="d-flex justify-content-center align-items-center">
                          <span class="video-player-icon shadow-sm">
                            <i class="bi-play-fill"></i>
                          </span>
                        </span>
                    <span class="text-white">Ver programa</span>
                  </a>
                </div>
                <!-- End Fancybox -->
              </div>

              <!-- Card Body -->
              <div class="card-body">
                <div class="mb-3">
                  <span class="card-title h2">S/.250.00</span>
                  <span class="text-muted"><del>S/.300.00</del></span>
                </div>


                <div class="d-grid mb-2">
                  <a class="btn btn-primary btn-transition" href="/">Solicita información</a>
                  {# { product.variations } #}
                </div>

                <div class="text-center mb-4">
                  <p class="card-text small">Aprovecha el descuendo por lanzamiento</p>
                </div>

                <h4 class="card-title">El programa incluye:</h4>

                <ul class="list-unstyled list-py-1">
                  <li><i class="bi-camera-video nav-icon"></i> 46.5 hours on-demand video</li>
                  <li><i class="bi-file-text nav-icon"></i> 77 articles</li>
                  <li><i class="bi-file-earmark-arrow-down nav-icon"></i> 85 downloadable resources</li>
                  <li><i class="bi-stopwatch nav-icon"></i> Full time access</li>
                  <li><i class="bi-phone nav-icon"></i> Access on mobile and Tablet</li>
                  <li><i class="bi-award nav-icon"></i> Certificate of Completion</li>
                </ul>
              </div>
              <!-- End Card Body -->
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Sticky Block -->
      </div>
    </div>
  </div>
  <!-- End Sidebar -->
</div>

<!-- Content -->
<div class="container content-space-t-md-1">
  <div class="row">
    <div class="col-md-7 col-lg-8">
      <div class="mb-4">
        <h3>Descripción del curso</h3>
      </div>
      {{ product.field_course_description }}
      <h3 class="mb-4 pt-5">Objetivos del curso:</h3>
      {{ product.field_course_objetivos }}

      {#{ product.field_course_contenido } #}

      <h3 class="mb-4 pt-5">Pre-requisitos:</h3>
      {{ product.field_course_requirements }}


      <div class="mb-8 pt-5">
        <div class="mb-4">
          <h3>Contenido del programa</h3>
        </div>
          <!-- Step -->
          <ul class="step step-icon-sm">
            <li class="step-item">
              <div class="step-content-wrapper">
                <div class="step-avatar step-avatar-sm">
                  <img class="step-avatar-img" src="/themes/custom/imparables_bb5/assets/svg/brands/dropbox-icon.svg" alt="Image Description">
                </div>
                <div class="step-content">
                  <h5 class="step-title">Head of IT Department</h5>
                  <span class="d-block text-dark">Dropbox - London</span>
                  <small class="d-block mb-4">December 2016 to Present</small>
                  <p class="text-body mb-0">The company has high expectations and using OKRs there is a mutual understanding of expectations and performance.</p>
                </div>
              </div>
            </li>

            <li class="step-item">
              <div class="step-content-wrapper">
                <div class="step-avatar step-avatar-sm">
                  <img class="step-avatar-img" src="/themes/custom/imparables_bb5/assets/svg/brands/mailchimp-icon.svg" alt="Image Description">
                </div>
                <div class="step-content">
                  <h5 class="step-title">Senior Software Engineer</h5>
                  <span class="d-block text-dark">Mailchimp - London</span>
                  <small class="d-block mb-4">November 2014 to December 2016</small>
                  <p class="text-body mb-0">This is an excellent company and they reward their employees. It's becoming a big company but it's still private, so the culture is as good as it gets at 1,000+ employees if you ask me. Managers are still adapting to the growth I think, but everyone has to. Great place to work.</p>
                </div>
              </div>
            </li>

            <li class="step-item">
              <div class="step-content-wrapper">
                <div class="step-avatar step-avatar-sm">
                  <img class="step-avatar-img" src="/themes/custom/imparables_bb5/assets/svg/brands/google-icon.svg" alt="Image Description">
                </div>
                <div class="step-content">
                  <h5 class="step-title">Junior Software Engineer</h5>
                  <span class="d-block text-dark">Google - London</span>
                  <small class="d-block mb-4">January 2014 to November 2014</small>
                  <p class="text-body mb-0">Work in Google is one of the beautiful experience I can do in my entire life. There are a lot of interesting thing to learn and manager respect your time and your personality.</p>
                </div>
              </div>
            </li>

            <li class="step-item">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-soft-dark">
                  <i class="bi-briefcase-fill"></i>
                </span>
                <div class="step-content">
                  <h5 class="step-title">Internship</h5>
                  <span class="d-block text-dark">Htmlstream under Pixeel Ltd. - London</span>
                  <small class="d-block mb-4">December 2013 to January 2014</small>
                  <p class="text-body mb-0">My first steps...</p>
                </div>
              </div>
            </li>
          </ul>
          <!-- End Step -->
        </div>
      </div>
  </div>
</div>
<!-- End Content -->


<!-- Sticky Block End Point -->
<div id="stickyBlockEndPoint"></div>

<article{{ attributes }}>




</article>
