{#
/**
 * @file
 *
 * Product template example.
 * Change layout moving singular field
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<div class="position-relative">
  <!-- Hero -->
  <div class="gradient-y-overlay-lg-white bg-img-start content-space-0" style="background-image: url(/themes/custom/imparables_bb5/assets/img/1920x800/img6.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-8">
          <small class="badge bg-success rounded-pill">Bestseller</small>
          <h1>{{ product.title }}</h1>

          <p>{{ product.field_course_short_description }}</p>

          <div class="d-flex align-items-center flex-wrap">
            <!-- Media -->
            <div class="d-flex align-items-center me-4">
              <div class="flex-shrink-0 avatar-group avatar-group-xs">
                    <span class="avatar avatar-xs avatar-circle">
                      <img class="avatar-img" src="/themes/custom/imparables_bb5/assets/img/160x160/img10.jpg" alt="Image Description">
                    </span>
              </div>
              <div class="flex-grow-1">
                <span class="ps-2">Created by <a class="link" href="../demo-course/author-profile.html">Christina Kray</a></span>
              </div>
            </div>
            <!-- End Media -->

            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/themes/custom/imparables_bb5/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-dark me-1">4.91</span>
                <span>(1.5k+ reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Hero -->

  <!-- Sidebar -->
  <div class="container content-space-t-md-1 position-md-absolute top-0 start-0 end-0">
    <div class="row justify-content-end">
      <div class="col-md-5 col-lg-4 position-relative zi-2 mb-7 mb-md-0">
        <!-- Sticky Block -->
        <div id="stickyBlockStartPoint">
          <div class="js-sticky-block"
               data-hs-sticky-block-options='{
                     "parentSelector": "#stickyBlockStartPoint",
                     "breakpoint": "md",
                     "startPoint": "#stickyBlockStartPoint",
                     "endPoint": "#stickyBlockEndPoint",
                     "stickyOffsetTop": 12,
                     "stickyOffsetBottom": 12
                   }'>
            <!-- Card -->
            <div class="card">
              <div class="p-1">
                <!-- Fancybox -->
                <div class="bg-img-start text-center rounded-2 py-10 px-5" style="background-image: url(/themes/custom/imparables_bb5/assets/svg/components/card-4.svg);">
                  <a class="video-player video-player-btn" href="https://www.youtube.com/watch?v=ueNT-w7Oluw" role="button" data-fslightbox="youtube-video">
                        <span class="d-flex justify-content-center align-items-center">
                          <span class="video-player-icon shadow-sm">
                            <i class="bi-play-fill"></i>
                          </span>
                        </span>
                    <span class="text-white">Preview this course</span>
                  </a>
                </div>
                <!-- End Fancybox -->
              </div>

              <!-- Card Body -->
              <div class="card-body">
                <div class="mb-3">
                  <span class="card-title h2">$99.99</span>
                  <span class="text-muted"><del>$114.99</del></span>
                </div>


                <div class="d-grid mb-2">
                  <a class="btn btn-primary btn-transition" href="#">Buy now</a>
                  {{ product.variations }}
                </div>

                <div class="text-center mb-4">
                  <p class="card-text small">30-day money-back guarantee</p>
                </div>

                <h4 class="card-title">This course includes</h4>

                <ul class="list-unstyled list-py-1">
                  <li><i class="bi-camera-video nav-icon"></i> 46.5 hours on-demand video</li>
                  <li><i class="bi-file-text nav-icon"></i> 77 articles</li>
                  <li><i class="bi-file-earmark-arrow-down nav-icon"></i> 85 downloadable resources</li>
                  <li><i class="bi-stopwatch nav-icon"></i> Full time access</li>
                  <li><i class="bi-phone nav-icon"></i> Access on mobile and Tablet</li>
                  <li><i class="bi-award nav-icon"></i> Certificate of Completion</li>
                </ul>
              </div>
              <!-- End Card Body -->
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Sticky Block -->
      </div>
    </div>
  </div>
  <!-- End Sidebar -->
</div>

<!-- Content -->
<div class="container content-space-t-2 content-space-t-md-1">
  <div class="row">
    <div class="col-md-7 col-lg-8">

      <div class="mb-4">
        <h3>Descripción del curso</h3>
      </div>

      <p>Become a Python Programmer and learn one of employer's most requested skills of 2019!</p>

      <p>This is the most comprehensive, yet straight-forward, course for the Python programming language on Udemy! Whether you have never programmed before, already know basic syntax, or want to learn about the advanced features of Python, this course is for you! In this course we will teach you Python 3. (Note, we also provide older Python 2 notes in case you need them)</p>


      <h3 class="mb-4">Objetivos del curso:</h3>

      {{ product.field_course_objetivos }}


      {{ product.field_course_contenido }}

      <hr class="my-7">


      <div class="mb-4">
        <!-- Heading -->
        <h3 class="mb-4">Contenido del curso</h3>
        <!-- End Heading -->

        <!-- Step -->
        <!--
        <ul class="step step-dashed mb-7">
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">1</span>
              <div class="step-content">
                <h4 class="step-title">Industry-leading documentation</h4>
                <p><a class="link" href="../documentation/index.html">Our documentation</a> and extensive Client libraries contain everything a business needs to build a custom integration in a fraction of the time.</p>
              </div>
            </div>
          </li>

          <li class="step-item mb-0">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">2</span>
              <div class="step-content">
                <h4 class="step-title">Support for the developer community</h4>
                <p class="mb-0">We actively contribute to open-source projects—giving back to the community through development, patches, and sponsorships.</p>
              </div>
            </div>
          </li>
        </ul>
        -->
        <!-- End Step -->




        <!-- Step Timeline -->
        <ul class="step">
          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>

              <div class="step-content">
                <span class="step-title">March 9, 2020</span>

                <div class="mb-4">
                  <p class="mb-1"><span class="fw-semibold">Resolved</span> - The Front app is now loading properly for all users. We've identified and addressed the cause of the issue as a problem with the Forms, Meetings and Ads tools, and the incident has now been fully resolved.</p>
                  <span class="text-muted small">Mar 8, 10:10 EST</span>
                </div>

              </div>
            </div>
          </li>
          <!-- End Timeline Item -->

          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>

              <div class="step-content">
                <span class="step-title">March 8, 2020</span>

                <div class="mb-4">
                  <p class="mb-1"><span class="fw-semibold">Resolved</span> - Chatflows is now operating properly for all users. We've identified and addressed the cause of the issue and the incident has now been fully resolved.</p>
                  <span class="text-muted small">Mar 7, 12:24 EST</span>
                </div>


              </div>
            </div>
          </li>
          <!-- End Timeline Item -->

          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>

              <div class="step-content">
                <span class="step-title">March 7, 2020</span>
                <p class="mb-1">No incidents reported.</p>
                <div class="mb-4">
                  <p class="mb-1"><span class="fw-semibold">Investigating</span> - We're currently experiencing an issue that's preventing Forms, Meetings and Ads from being modified. All existing forms on websites continue working and accepting submissions. We're actively investigating the cause of this issue and will update this page when more information is available.</p>
                  <span class="text-muted small">Mar 8, 01:39 EST</span>
                </div>


              </div>
            </div>
          </li>
          <!-- End Timeline Item -->

          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>

              <div class="step-content">
                <span class="step-title">March 6, 2020</span>
                <p class="mb-1">No incidents reported.</p>
                <div class="mb-4">
                  <p class="mb-1"><span class="fw-semibold">Investigating</span> - Chatflows is now operating properly for all users. We've identified and addressed the cause of the issue and the incident has now been fully resolved.</p>
                  <span class="text-muted small">Mar 7, 12:01 EST</span>
                </div>


              </div>
            </div>
          </li>
          <!-- End Timeline Item -->

          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>

              <div class="step-content">
                <span class="step-title">March 5, 2020</span>

                <div class="mb-4">
                  <p class="mb-1"><span class="fw-semibold">Resolved</span> - Some customers may have experienced delayed Infrastructure alerts. We encourage customers to check the status of their applications and infrastructure during this time frame. Services have returned to their normal operation.</p>
                  <span class="text-muted small">Mar 8, 19:51 EST</span>
                </div>


              </div>
            </div>
          </li>
          <!-- End Timeline Item -->

          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>

              <div class="step-content">
                <span class="step-title">March 4, 2020</span>
                <p class="mb-1">No incidents reported.</p>
                <div class="mb-4">
                  <p class="mb-1"><span class="fw-semibold">Investigating</span> - Some customers may be experiencing an issue with delayed Infrastructure Alerts. Please continue to monitor this page for updates.</p>
                  <span class="text-muted small">Mar 8, 17:51 EST</span>
                </div>
              </div>
            </div>
          </li>
          <!-- End Timeline Item -->
        </ul>
        <!-- End Step Timeline -->


      </div>


          <!-- Accordion -->
          <div class="border-top pt-7 mt-7">
            <div class="row mb-4">
              <div class="col-8">
                <h3 class="mb-0">Course content</h3>
              </div>
              <!-- End Col -->

              <div class="col-4 text-end">
                <div class="row">
                  <div class="col-lg-6">
                    <span class="small">186 lectures</span>
                  </div>
                  <!-- End Col -->

                  <div class="col-lg-6">
                    <span class="small">24:10:28</span>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <!-- Accordion -->
            <div class="accordion accordion-btn-icon-start">
              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsOne">
                  <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#accordionCourseOne" aria-expanded="true" aria-controls="accordionCourseOne">
                    <div class="flex-grow-1 ps-3">
                      <div class="row">
                        <div class="col-8">
                          Course overview
                        </div>
                        <!-- End Col -->

                        <div class="col-4 text-end">
                          <div class="row">
                            <div class="col-lg-6">
                              <span class="small text-muted fw-normal">5 lectures</span>
                            </div>
                            <!-- End Col -->

                            <div class="col-lg-6">
                              <span class="small text-muted fw-normal">15:32</span>
                            </div>
                            <!-- End Col -->
                          </div>
                          <!-- End Row -->
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </a>
                </div>
                <div id="accordionCourseOne" class="accordion-collapse collapse show" aria-labelledby="headingBasicsOne">
                  <div class="accordion-body">
                    <!-- List Group -->
                    <div class="list-group list-group-flush list-group-no-gutters">
                      <!-- Item -->
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-8">
                            <a class="d-flex" href="#">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Course introduction</span>
                              </div>
                            </a>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <a class="small" href="#">Preview</a>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="text-primary small">06:39</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-8">
                            <a class="d-flex" href="#">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Course curriculum overview</span>
                              </div>
                            </a>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <a class="small" href="#">Preview</a>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="text-primary small">04:00</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-8">
                            <a class="d-flex" href="#">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Python 2 versus Python 3</span>
                              </div>
                            </a>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <a class="small" href="#">Preview</a>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="text-primary small">06:39</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->
                    </div>
                    <!-- End List Group -->
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsTwo">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#accordionCourseTwo" aria-expanded="false" aria-controls="accordionCourseTwo">
                    <div class="ps-3">Python setup</div>
                  </a>
                </div>
                <div id="accordionCourseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo">
                  <div class="accordion-body">
                    <!-- List Group -->
                    <div class="list-group list-group-flush list-group-no-gutters">
                      <!-- Item -->
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-8">
                            <a class="d-flex" href="#">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Course line courses</span>
                              </div>
                            </a>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <a class="small" href="#">Preview</a>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="text-primary small">08:15</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-8">
                            <a class="d-flex" href="#">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Installing Python (Step by step)</span>
                              </div>
                            </a>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <a class="small" href="#">Preview</a>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="text-primary small">08:18</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-8">
                            <a class="d-flex" href="#">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Running Python code</span>
                              </div>
                            </a>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <a class="small" href="#">Preview</a>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="text-primary small">17:50</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Getting the notebooks and the course material</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">02:22</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Git and Github overview (Optional)</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">02:49</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->
                    </div>
                    <!-- End List Group -->
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsThree">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#accordionCourseThree" aria-expanded="false" aria-controls="accordionCourseThree">
                    <div class="ps-3">Python object and data structure courses</div>
                  </a>
                </div>
                <div id="accordionCourseThree" class="accordion-collapse collapse" aria-labelledby="headingBasicsThree">
                  <div class="accordion-body">
                    <!-- List Group -->
                    <div class="list-group list-group-flush list-group-no-gutters">
                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Introduction to Python Data Types</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">04:02</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-8">
                            <a class="d-flex" href="#">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Python numbers</span>
                              </div>
                            </a>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <a class="small" href="#">Preview</a>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="text-primary small">04:11</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Numbers: Simple Arithmetic</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">1 question</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Numbers - FAQ</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">02:49</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Numbers Quiz</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">3 questions</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->
                    </div>
                    <!-- End List Group -->
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsFour">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#accordionCourseFour" aria-expanded="false" aria-controls="accordionCourseFour">
                    <div class="ps-3">Python comparison operators</div>
                  </a>
                </div>
                <div id="accordionCourseFour" class="accordion-collapse collapse" aria-labelledby="headingBasicsFour">
                  <div class="accordion-body">
                    <!-- List Group -->
                    <div class="list-group list-group-flush list-group-no-gutters">
                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Comparison Operators in Python</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">03:26</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Chaining Comparison Operators in Python with Logical Operators</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">05:42</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-lightning-charge-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Comparison Operators Quiz</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">5 questions</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->
                    </div>
                    <!-- End List Group -->
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsFive">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#accordionCourseFive" aria-expanded="false" aria-controls="accordionCourseFive">
                    <div class="ps-3">Python statements</div>
                  </a>
                </div>
                <div id="accordionCourseFive" class="accordion-collapse collapse" aria-labelledby="headingBasicsFive">
                  <div class="accordion-body">
                    <!-- List Group -->
                    <div class="list-group list-group-flush list-group-no-gutters">
                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">If Elif and Else Statements in Python</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">09:06</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">For Loops in Python</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">18:17</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">While Loops in Python</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">10:35</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Useful Operators in Python</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">16:08</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">List Comprehensions in Python</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">11:26</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Python Statements Test Overview</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">02:27</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Python Statements Test Solutions</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">07:19</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->
                    </div>
                    <!-- End List Group -->
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsSix">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#accordionCourseSix" aria-expanded="false" aria-controls="accordionCourseSix">
                    <div class="ps-3">Modules and packages</div>
                  </a>
                </div>
                <div id="accordionCourseSix" class="accordion-collapse collapse" aria-labelledby="headingBasicsSix">
                  <div class="accordion-body">
                    <!-- List Group -->
                    <div class="list-group list-group-flush list-group-no-gutters">
                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">If Elif and Else Statements in Python</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <span class="small">3 lectures</span>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">29:10</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Pip Install and PyPi</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">07:46</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Modules and Packages</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">11:39</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->
                    </div>
                    <!-- End List Group -->
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->

              <!-- Accordion Item -->
              <div class="accordion-item">
                <div class="accordion-header" id="headingBasicsSeven">
                  <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#accordionCourseSeven" aria-expanded="false" aria-controls="accordionCourseSeven">
                    <div class="ps-3">Errors and exceptions handling</div>
                  </a>
                </div>
                <div id="accordionCourseSeven" class="accordion-collapse collapse" aria-labelledby="headingBasicsSeven">
                  <div class="accordion-body">
                    <!-- List Group -->
                    <div class="list-group list-group-flush list-group-no-gutters">
                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Errors and exceptions handling</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                                <span class="small">5 lectures</span>
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">45:14</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Errors and Exception Handling</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">17:19</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Errors and Exceptions Homework</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">01:30</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Errors and Exception Homework - Solutions</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">05:16</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Pylint Overview</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">11:36</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->

                      <!-- Item -->
                      <div class="list-group-item text-muted">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <i class="bi-play-circle-fill small"></i>
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <span class="small">Running tests with the Unittest Library</span>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-4 text-end">
                            <div class="row">
                              <div class="col-lg-6">
                              </div>
                              <!-- End Col -->

                              <div class="col-lg-6">
                                <span class="small">09:33</span>
                              </div>
                              <!-- End Col -->
                            </div>
                            <!-- End Row -->
                          </div>
                          <!-- End Col -->
                        </div>
                      </div>
                      <!-- End Item -->
                    </div>
                    <!-- End List Group -->
                  </div>
                </div>
              </div>
              <!-- End Accordion Item -->
            </div>
            <!-- End Accordion -->

            <!-- Link -->
            <div class="mt-3">
              <a class="link small">2 more sections</a>
            </div>
            <!-- End Link -->
          </div>
          <!-- End Accordion -->


      <hr class="my-7">

      <div class="mb-4">
        <h3>About the instructor</h3>
      </div>

      <div class="row">
        <div class="col-sm-4 mb-4 mb-sm-0">
          <div class="mb-3">
            <img class="avatar avatar-xl avatar-circle" src="/themes/custom/imparables_bb5/assets/img/160x160/img10.jpg" alt="Image Description">
          </div>

          <ul class="list-unstyled list-py-1">
            <li><i class="bi-star dropdown-item-icon"></i> 4.87 Instructor rating</li>
            <li><i class="bi-chat-left-dots dropdown-item-icon"></i> 1,533 reviews</li>
            <li><i class="bi-person dropdown-item-icon"></i> 23,912 students</li>
            <li><i class="bi-play-circle dropdown-item-icon"></i> 29 courses</li>
          </ul>
        </div>
        <!-- End Col -->

        <div class="col-sm-8">
          <!-- Info -->
          <div class="mb-2">
            <h4 class="mb-1"><a href="../demo-course/author-profile.html">Nataly Gaga</a></h4>
            <p class="fw-semibold">Head of Data Science, Pierian Data Inc.</p>
          </div>

          <p>Nataly Gaga has a BS and MS in Mechanical Engineering from Santa Clara University and years of experience as a professional instructor and trainer for Data Science and programming. She has publications and patents in various fields such as microfluidics, materials science, and data science technologies.</p>
          <!-- End Info -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->


    </div>





  </div>
</div>
<!-- End Content -->




<!-- Sticky Block End Point -->
<div id="stickyBlockEndPoint"></div>

<article{{ attributes }}>




</article>
